name: Build

on:
  pull_request:
    branches: [ main ]
    types: [closed]   # when PR is closed

jobs:
  sonarcloud:
    if: github.event.pull_request.merged == true    # run only if merged
    name: SonarCloud Analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest coverage

      - name: Run Tests & Generate Coverage
        run: |
          coverage erase
          coverage run -m pytest
          coverage xml -i

      - name: Show coverage.xml exists
        run: |
          echo "List coverage.xml"
          ls -al

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
